<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jshiiba.ecaasu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ecaasu2015</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="jshiiba@gmail.com" href="">
        Justin Shiiba & Chung Vuong
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
