@font-face {
  font-family: Bebas-Neue;
  src: url('../fonts/BebasNeue.woff');
}
@font-face {
  font-family: Aller;
  src: url('../fonts/Aller-Rg.woff');
}
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.woff');
}
/* Footer Tab Bar */
#footer {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}

.ui-content {
    padding: 0;
}
 
.ui-listview {
    margin: 0;
}

#navbar .ui-btn {
  height:40px;
}


/*.scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 45px;
  bottom: 60px;
  left: 0px;
  right: 0px;
}
*/

.ui-content .ui-listview {
  margin:0px;
}


/****/
* {
  box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.header {
    background: #32d200;
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.header h1.title {
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    font-weight: normal;
}

.header-button {
    position: absolute;
    top: 6;
    padding: 14px 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
    text-decoration: none;
}

.search-bar {
    background: #ccc;
    height: 32px;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #666;
}

input[type="search"] {
  width:100%;
  border: none;
  border-radius: 4px;
  padding: 4px 0px 2px 2px;
  margin-top: 0px;
  font-size: 16px;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.5), 0 1px #fff;
  background: #eee;
    -webkit-appearance:none;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: inset 0 4px 8px rgba(0,0,0,.5), 0 1px #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tabs {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    padding: 10px;
}
.table-view li:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

li {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
}

li>a {
    color: #000;
    display: block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: -10px 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    -ms-background-size: 10px 100%;
    -o-background-size: 10px 100%;
    background-size: 10px 100%;
}

li>a * {
    pointer-events: none;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-size:14px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;

}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 105px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.scroll-no-tabbar {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.scroll-schedule {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 127px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/** Tabs **/
.tabs {
  display: table;
  table-layout: fixed;
  text-align: center;
}

.tabs li {
  display: table-cell;
  width: 1%;
  height: auto;
  vertical-align: bottom;
}

.tabs a {
  display: block;
  height: 44px;
  font-size: 26px;
  font-family: Bebas-Neue;
}
.tabs li:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}

.active {
  border-bottom: 4px solid #32d200;
}

/** List Views **/
.table-view li > a.tappable-active {
  color: #fff;
  background-color: #4286f5;
}

/** Header, Tab colors **/
.schedule-view-container .header {
  background-color: #00d52f;
}
.schedule-view-container .active {
  border-bottom: 4px solid #00d52f;
}

.speakers-view-container .header {
  background-color: #00ccff;
}
.speakers-view-container .active {
  border-bottom: 4px solid #00ccff;
}

.locations-view-container .header {
  background-color: #ea1e45;
}
.locations-view-container .active {
  border-bottom: 4px solid #ea1e45;
}

.workshops-view-container .header {
  background-color: #cc3399;
}
.workshops-view-container .active {
  border-bottom: 4px solid #cc3399;
}

.view-content {
  font-family: Aller;
}
/** Schedule **/
.tabs li > a.tappable-active {
}

h2.schedule_day {
  font-size: 18px;
  margin: 15px;
  background-color: white;
}

.schedule_body {
  background-color: white;
}

.schedule_list {
  padding:0px;
  width: 100%;
}

.schedule_link {
  text-decoration: none;
}

.schedule_time {
  background-color: #CFCFCF;
  padding: 1px;
  color: #000000;
}

.tab-day {
  margin: 20px 15px;
  font-size: 26px;
  color: #000000;
}

.time p {
  margin: 10px 15px;
}

.schedule_container {
  margin-left: 15px;
}

/** Splash Screen **/
.splash-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  text-align: center;
  padding: 60% 0;
  top: 0;
}

h1.logo-name {
  font-family: Bebas-Neue;
  color: #666666;
  font-size: 36px;
  margin: 10px 0px;
}

/** Home Screen **/
.home-container {
  text-align: center;
  padding-top: 15%;
}

.home-container ul {
  border-bottom: none;
  width: 90%;
  margin: 0 auto;
}

.home-container li {
  margin: 20px 0;
  font-family: Bebas-Neue;
  border: none;
}

.home-container li > a {
  color: #000;
  display: block;
  padding: 7px;
  text-decoration: none;
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: -10px 0;
  background-repeat: no-repeat;
  -webkit-background-size: 10px 100%;
  -moz-background-size: 10px 100%;
  -ms-background-size: 10px 100%;
  -o-background-size: 10px 100%;
  background-size: 10px 100%;
  color: #fff;
  font-size: 24px;
}

.home-container li > a.tappable-active {
  color: #fff;
  background-color: #ec8e30;
}

/** View Headers **/
.header {
  height: 60px;
  border: none;
  padding: 10px 0;
  position: relative;
}

.header h1.title {
  font-family: Bebas-Neue;
  font-size: 32px;
}
.header-button {
  padding: 0;
  top: 5px;
  position: absolute;
}

/** Convenience Color Classes **/
.blue {
  background-color: #00ccff;
}

.purple {
  background-color: #cc3399;
}

.green {
  background-color: #00d52f;
}

.red {
  background-color: #ea1e45;
}

.schedule_container h3 {
  color: black;
}
.schedule_container p {
  color: #333333;
}
/** Speakers **/

.speakers_image {
  width: 100%;
  height: 100px;
}

.speakers_left {
  float: left;
  padding: 15px;
  width: 35%;
  min-height: 100px;
}

.speakers_right {
  float: left;
  padding: 35px 5px;
  width: 65%;
  min-height: 100px;
}
.speakers_right h3 {
  margin: 0;
  font-size: 22px;
}
.speakers_right p {
  margin: 0;
  font-size: 18px;
}

.speaker_details {
  padding: 20px;
  font-family: Aller;
  color: #000000;
}
.speaker_details h2 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}
.speaker_details h3 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
}
.speaker_details p {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 1.4em;
}
.speakers_image_detail {
  width: 100%;
}

.event-details {
  padding: 15px;
}
.event-details h1 {
  font-size: 30px;
}

.subheading {
  background-color: #CFCFCF;
  padding: 1px;
  color: #000000;
}

/** sliding transition css **/
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}
 
.stage-center {
    top: 0;
    left: 0;
}
 
.stage-left {
    left: -100%;
}
 
.stage-right {
    left: 100%;
}
 
.transition {
    -moz-transition-duration: .350s;
    -webkit-transition-duration: .350s;
    -o-transition-duration: .350s;
}



